@media screen and (max-width:991px){
    .menu{
        font-size: 2rem;
        color: #fff;
        border: 1px solid #fff;
        padding: .5rem 1rem;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
    .nav-link{
      margin-right: 0 !important;
    }
    nav{
        z-index: 9999;
    }
    .navbar-nav{
        background: #ff0157;
        padding: 1rem 0 !important;
        text-align: center;
        margin: .5rem 0 !important;
        z-index: 99999999;
    }
    .nav-link:hover{
        color: #fff;
    }
    .header-content{
        z-index: 1;
    }
    .header-content h2{
        max-width: 720px !important;
        margin: auto !important;
        font-size: 6rem;
        margin-bottom: 2rem !important;
    }
    .header-content p{
        max-width: 720px !important;
        margin: auto !important;
    }
}
@media screen and (max-width:767px){
    .header-content h2{
        max-width: 540px !important;
        margin: auto !important;
        font-size: 5rem;
        margin-bottom: 2rem !important;
    }
    .header-content p{
        max-width: 540px !important;
        margin: auto !important;
    }
}
@media screen and (max-width:575px){
    .header-content h2{
        width: 100%;
        max-width: 100%;
        margin: auto !important;
    }
    .header-content p{
        width: 98% !important;
        max-width: 100%;
        margin: auto !important;
    }
    #about-section{
        padding: 5rem 0 6rem 0;
    }
    #menu-section{
        padding: 0 0 5rem 0;
    }
    #expert-section{
        padding: 0 0 5rem 0;
    }
    #testimonial-section{
        padding: 5rem 0 5rem 0;
    }
    #contact-section{
        padding: 5rem 0 5rem 0;
    }
    .contact-content .card{
        padding: 3rem 2rem 5rem 2rem;
    }
}
@media screen and (min-width:768px){
  .expert-content img{
    width: 100%;
  }
}
